<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="opportunityhack.bhsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.FirstAid"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.WarmWeather"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.Swim"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.LostPet"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.LitterBox"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.HouseHazard"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.HotSidewalk"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.FourthOfJuly"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.FoodToAvoid"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.ColdWeather"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.ChangeDogName"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opportunityhack.bhsapp.CatSepAnx"
            android:label="@string/title_activity_info_page1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>